* {
    margin: 0;
    padding: 0;
}


body {
    text-align: center;
    padding-top: 25px;
}

#header, #box-logo, #box-upmenu, #up-contacts, #language {
    display: flex;
    flex-flow: row wrap;
   
}

#header {
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid #142a33;
}

#box-logo {
    padding-left: 30px;
    margin-left: 30px;  
    max-width: 15%;
}

#box-upmenu {
    padding-left: 40px;
    width: 47%;
}

#up-contacts {
    padding: 20px 30px 20px 40px;
    max-width: 23%;
}

#language {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    max-width: 10%;
}

#language .lan {
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #5e93b6;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    
}

#up-contacts p {
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
    color: #3f5670;;
    font-weight: bold;
}

.pict-logo {
    max-width: 100%;
}

.upper-menu{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin-left: 34px;
    text-decoration:none;
    color:#5e93b6;
    font-family: sans-serif;
    font-size: 16px;
    font-weight:bold;
    padding-bottom: 12px;
    text-align: center;
}

.upper-menu:hover{
     color:rgb(190, 116, 30)
 }

#box-main {
    display: flex;
    flex-flow: row wrap; 
    padding-left: 80px; 
    padding-right: 80px; 
} 

.box-part {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 30%;
    background-image: linear-gradient(#40759b, #7ab4dd);
    border: 1px solid #1467a4;
    margin: 30px 50px 60px 50px;
    align-items: flex-start;

}

.box-name {
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    padding-bottom: 20px;
    align-items: center;
    padding: 10px;
    margin:5px;
}

.box-name img {
    max-width: 50%;
    border: 1px solid #a1a1a1;
}

.box-part .box-name p {
    font-size: 24px;
    font-family: sans-serif;
    color:#ffffff;
    margin-top: 10px;
}

.title {
    display: flex;
    flex-flow: column;
    flex: 1 1 100%;
    align-items: center;  
}

h1 {
    font-size: 28px;
    color:#028bc5;
    font-family: sans-serif; 
    margin-bottom: 20px; 
}

h2 {
    font-size: 22px;
    font-family: sans-serif;
    color:#255b8d;
       
}

.box-part .box-name .text {
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 6px 30px 20px 30px;
}

#box-reason {
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(#40759b, #fbfdff);
    padding-top: 30px;
    padding-bottom: 30px;
}

.box-title {
    display: flex;
    flex-flow: column;
    flex: 1 1 100%;
    align-items: center; 
    padding: 30px;
}

.box-title h4 {
    font-size: 28px;
    font-family: sans-serif;
    color:#ffffff;
    margin-bottom: 20px;
}

.box-reason-list {
    display: flex;
    flex-flow: row wrap;
}

.box-reason-list .reasone {
    flex: 1 1 21%;
    border: 1px solid #3f5670;
    padding: 0 10px 20px 10px;
    margin: 3px;
}

.reasone button {
    flex-flow: row wrap;
    align-items: flex-end;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    background-color: #005dc7;
    color: #ffffff;
    
}

.box-reason-list .reasone img {
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.box-reason-list .reasone p {
    flex-flow: row wrap;
    flex: 1 1 25%;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    color: #142a33;
}

.box-reason-list .reasone .text-reasone {
    margin-top: 4px;
    flex-flow: row wrap;
    flex: 1 1 25%;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
    color: #142a33;
}

/*
p {
color: #0697d4;
color: #215085;
color: #0377a8;
</p>
*/